*{--paletteColor1: #0066bf!important;
--paletteColor2: #1e73be!important;
--paletteColor3: #000000!important;
--paletteColor4: #303030!important;
--paletteColor5: #f2f2f2!important;
--paletteColor6: #f4f4f4!important;
--paletteColor7: #ffffff!important;
--paletteColor8: #ffffff!important;
}